
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #FFFFFF;
    --secondary-color: #AECCF2;
    --third-color: #8CB1E5;
    --accent-color: #719FDF;
    --fifth-color: #4985CD;
    --fifth-filter: invert(50%) sepia(16%) saturate(1621%) hue-rotate(173deg) brightness(94%) contrast(96%);
}

body {
    height: 100vh;
    background-image: url(./images/background.jpg);
    background-size: cover;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    display: grid;
    grid-template-columns: clamp(15vw, 20rem, 20vw) 1fr;
    position: relative;
    z-index: -1;
}

/* SIDEBAR */
.sidebar {
    /* background: linear-gradient(0.25turn, #f1f1f1, #ffffff, #f3f3f3); */
    background-color: var(--main-color);
    /* box-shadow: 0 1px 3px gray; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidebar > * {
    margin: 1rem 0;
}

/* SIDEBAR TOP */
.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* PROFILE */
.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 2rem;
}

.profile-pic {
    width: 3.5rem;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
}

.username {
    font-weight: 400;
    font-size: 1.25rem;
}

/* NEW TASK BUTTON AND SEARCH BAR */
.create-n-search {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    margin: 0 1.5rem;
}

.new-task {
    width: 10rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--third-color);
    height: 3rem;
    font-size: 1.35rem;
    font-weight: 700;
    box-shadow: 0 1px 3px rgb(180, 180, 180);
    color: var(--main-color);
}

.new-task:hover {
    background-color: var(--accent-color);
}

.new-task:active {
    box-shadow: none;
    background-color: var(--fifth-color);
}

/* NEW TASK DIALOG */
.task-create-ops {
    border-radius: 0.15rem;
    border: none;
    background-color: whitesmoke;
    box-shadow: 0 0 3px 0 rgb(204, 204, 204);
    width: max-content;
    left: 10rem;
    top: 8rem;
    
  }

  .dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .task-create-ops button {
    background: none;
    border: none;
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
    width: 100%;
  }

  .task-create-ops button:hover {
    background-color: #d9e6f7;
}

/* SEARCH BOX */
.search-box {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.255rem;
}

.search-bar {
    height: 2.65rem;
    width: 100%;
    border-radius: 0.35rem;
    background-color: whitesmoke;
    box-shadow: inset 1px 1px 1px rgb(230, 229, 229);
    border: none;
    padding: 0.5rem;
    font-size: 1.1rem;
}

/* CATEGORIES */
.categories-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.category:hover, .inbox:hover {
    background-color: rgb(248, 248, 248);
}

.section-title {
    font-size: 1.35rem;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
    padding: 0.75rem 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.section-title:hover {
    color: var(--fifth-color);
}

.section-title:hover img {
    filter: var(--fifth-filter);
}

.icons {
    color: var(--accent-color);
    font-size: 1.25rem;
}

.dropdown-button {
    background: none;
    border: none;
}

/* DROPDOWN MENUS AND DROPDOWN TRANSITION */
.dropdown-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.25s ease-out;
}

.dropdown-wrapper.is-open {
    grid-template-rows: 1fr;
    padding-bottom: 1rem;
  }

.category-dropdown {
    /* padding: 0.25rem 2rem; */
    margin-left: 1.25rem;
    list-style-position: inside;
    list-style:square;
    line-height: 110%;
    overflow: hidden;
}

.inbox .category-item {
    list-style: none;
    margin-left: 1.25rem;
}

.category-item {
    margin: 0.30rem 2.25rem;
    font-size: 1.20rem;
}

.filter-options {
    display: none;
    margin-left: 1rem;
}

/* TITLE */
.sidebar-title {
    font-size: 2.25rem;
    font-weight: 900;
    padding-top: 0.65rem;
    text-align: center;
    color: var(--main-color);
    background-color: var(--accent-color);
    position: absolute;
    bottom: -1rem;
    width: 100%;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
}

.todo-container {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* row-gap: 1rem; */
}

/* CARDS */
.todo-card {
    width: 19rem;
    height: 25rem;
    /* background: linear-gradient(0.25turn, #ebebeb, #ffffff); */
    background-color: #FFFFFF;
    border-radius: 2rem;
    box-shadow: 0 1px 3px rgb(180, 180, 180);
    padding: 2rem 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo-info {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    gap: 0.5rem;
}

.todo-header {
    height: 5rem;
}

.todo-title {
    max-width: 20ch;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 3.5rem;
    line-height: 100%;
    margin-bottom: 0.25rem;
}

.todo-description {
    text-overflow: ellipsis;
    overflow: hidden;
}


.todo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.todo-actions {
    display: flex;
    gap: 0.5rem;
}

.action-button {
    font-size: 2.2rem;
    width: 2.75rem;
    height: 2.75rem;
    background-color: var(--third-color);
    border: none;
    border-radius: 0.75rem;
    padding: 0.2rem;
    box-shadow: 1px 1px 2px var(--accent-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button img {
    filter: invert(98%) sepia(100%) saturate(1%) hue-rotate(22deg) brightness(103%) contrast(100%);
    height: 75%;
}

.action-button:hover {
    background-color: var(--accent-color);
}

.action-button:active {
    background-color: var(--fifth-color);
    box-shadow: none;
}

/* NEW TASK FORM */
.task-form-container, .category-form-container {
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none    ;
}

#new-task-form {
    width: 40rem;
    height: 50rem;
    background-color: white;
    padding: 3rem 2.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    grid-template-areas: "legend legend"
                         "title title"
                         "description description"
                         "due-date category"
                         "task-close task-submit";
    row-gap: 1.75rem;
    column-gap: 1rem;
    box-shadow: 0 0 3px gray;
}

#new-task-form div {
    display: flex;
    flex-direction: column;
}

.legend {
    grid-area: legend;
    font-size: 2.5rem;
    font-weight: 700;
}

#title,  #category, #due-date {
    height: 3rem;
}

#title,  #category, #due-date, #description{
    border-radius: 0.35rem;
    padding: 0 0.5rem;
    font-size: 1.25rem;
}

#title-container {
    grid-area: title;
}

#description-container {
    grid-area: description;
}

#description {
    height: 7rem;
}

#due-date-container {
    grid-area: due-date;

}

#category-container {
    grid-area: category;
}

#category {
    background-color: white;
}

#task-submit, #task-close, #category-submit, #category-close {
    height: 3rem;
    width: 12rem;
    font-size: 1.25rem;
    justify-self: center;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--third-color);
    font-weight: 700;
    box-shadow: 0 1px 3px rgb(180, 180, 180);
    color: var(--main-color);
}

#task-submit {
    grid-area: task-submit;
}

#task-close {
    grid-area: task-close;
}

#task-submit:hover, #task-close:hover {
    background-color: var(--accent-color);

}

#task-submit:active, #task-close:active {
    box-shadow: none;
    background-color: var(--fifth-color);
}

/* NEW CATEGORY FORM */

#new-category-form {
    width: 40rem;
    height: 21rem;
    background-color: white;
    padding: 3rem 2.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    grid-template-areas: "legend legend"
                         "name name"
                         "category-close category-submit";
    row-gap: 1.75rem;
    column-gap: 1rem;
    box-shadow: 0 0 3px gray;
}

#cat-container {
    grid-area: name;
    display: flex;
    flex-direction: column;
}

#category-name {
    height: 3rem;
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

#category-close {
    grid-area: category-close;
}

#category-submit {
    grid-area: category-submit;
}